/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Section Accueil */
#accueil {
    background-image: url('pexels-zhangkaiyv-612419.jpg'); /* Image de fond dynamique */
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.accueil-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.accueil-content p {
    font-size: 24px;
    max-width: 700px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Navigation dans le footer */
footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 20px;
}

footer nav ul li {
    margin: 20px;
}

footer nav ul li a {
    display: block;
    width: 120px;
    height: 120px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

footer nav ul li a:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
